@model WriteDocumentVM

@{
    ViewData["Title"] = "Create";
}

<div class="container pt-4">
    <section class="card p-5">
        <h1>Create</h1>

        <h4>WriteDocumentVM</h4>
        <hr />
        <div class="row ">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="StudentNumber" class="control-label"></label>
                        <input asp-for="StudentNumber" class="form-control" />
                        <span asp-validation-for="StudentNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject" class="control-label"></label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Type</label>
                        <select class="from-control" asp-items="@ViewBag.Types" asp-for="TypeId">
                            <option>--Select Type--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
